/* 회원가입 및 로그인 */
.join {padding:40px 0; background: #f4f4f4; border-top:1px solid #e4e8eb;}
.join > div { padding:40px; margin: 0 auto; width: 640px; background: #fff; box-sizing: border-box;}
.join input[type="text"],
.join input[type="password"] {width: 100%; height: 48px; border: 1px solid #e4e8eb; box-sizing:border-box; text-indent:12px; font-size:15px; color: #000;}
.join input::placeholder {color:#000;}
.join input[type="checkbox"] {position: absolute; left: -3000%;}
.join input[type="checkbox"] + label {display: inline-block; position: relative; padding: 0 0 0 32px; line-height: 20px;}
.join input[type="checkbox"] + label:after {content: ""; position:absolute; left: 0; top: 0; width: 18px; height: 18px; border: 1px solid #d9d9d9;}
.join input[type="checkbox"]:checked + label:after {content:"v"; text-align: center; line-height: 18px;}
.join.login {padding: 64px 40px 40px;}
.join.login .password {padding: 24px 0 15px;}
.join.login .btn {padding: 43px 0 39px;}
.join.login .btn_type1 {width: 100%;}
.join.login .login_link {text-align:center; font-size: 0;}
.join.login .login_link li {display:inline-block; position: relative; padding: 0 14px; line-height: 19px;}
.join.login .login_link li ~ li:after {content: ""; position: absolute; left:0; top:50%; transform:translateY(-50%); height: 12px; border-right: 1px solid #dededf; }
.join.login .login_link li a {font-size:13px; color: #000;}