@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {padding: 0; margin: 0;}
able {width: 100%; border-collapse: collapse; border-spacing: 0;}
table caption {display: none;}
ul, li, ol {list-style: none;}
body { padding:30px;}
legend {display: none;}
fieldset {border: none;}

.table_type1 {border-top: 2px solid #12a3cc; font-family: 'Nanum Gothic', sans-serif;
  font-family: 'Noto Sans KR', sans-serif}
.table_type1 thead tr {border-bottom: 1px solid #b2b2b2;}
.table_type1 thead th {height:45px; font-size: 13px; color: #494949; font-weight: 400;}
.table_type1 tbody tr {border-bottom: 1px solid #e2e2e2;}
.table_type1 tbody td {padding:17px 0 15px; font-size: 13px; color: #717171; text-align: center;}
.table_type1 tbody td a { color: #323232;}
/* a요소같은 경우 직접 선택해 요소를 줘야한다.*/
.table_type1 tbody .name {color: #323232;}
.table_type1 tbody .left {text-align: left;}
.table_type1 tbody .left img {vertical-align: -3px;}



.table_type2 {font-family: 'Nanum Gothic', sans-serif;
  font-family: 'Noto Sans KR', sans-serif}
.table_type2 thead tr {border-top: 1px solid #000; background-color: #f2f2f2; height: 44px; }
.table_type2 thead tr th {font-weight: 400;}
.table_type2 tbody tr {border-bottom:1px solid #ccc; height:46px; }
.table_type2 tbody tr th {font-weight:400;}
.table_type2 tbody tr td a {padding: 0 0 0 163px; color:#333; text-decoration: none;}
.table_type2 tbody tr td { color:#999;}
.table_type2 tbody tr .text_align {padding:0 76px 0 0; text-align: right;}
.table_type2 tbody .text_red {color:#e51837;}



.table_type5 { border-top: 2px solid #333; font-family: 'Nanum Gothic', sans-serif;
  font-family: 'Noto Sans KR', sans-serif}
.table_type5 thead tr {background-color: #f8f8f8; border-bottom: 1px solid #c7c7c7;}
.table_type5 thead th {height: 64px; font-size: 15px; font-weight: 400;}
.table_type5 thead .border_right { border-right: 1px solid #c7c7c7;}
.table_type5 tbody tr { border-bottom: 1px solid #c7c7c7;}
.table_type5 tbody th {background-color: #f8f8f8; border-right: 1px solid #c7c7c7; font-size: 16px; color:#333; font-weight:400;}
.table_type5 tbody td {padding: 20px 0; font-size: 16px; color:#333; font-weight:400; text-align: center; line-height: 24px;}



.table_type9 {font-family: 'Nanum Gothic', sans-serif;
  font-family: 'Noto Sans KR', sans-serif}
.table_type9 thead tr {border-top: 2px solid #393d46;
font-weight:500; height: 57px;}
.table_type9 tbody tr {border-top: 1px solid #acb0b6;}
.table_type9 tbody tr th {text-align: center; font-weight: 300; }
.table_type9 tbody tr .text_center {text-align: center; padding: 19px 0; }
.table_type9 tbody tr {border-bottom:1px solid #acb0b6;}
.table_type9 tbody tr td {padding: 15px 0 15px 19px; border-left:1px solid #acb0b6; height: 29px;}
.table_type9 tbody tr td b {height: 32px;}



/* 표 11 */
.table_type11 {border-top: 2px solid #bd0000; font-family: 'Nanum Gothic', sans-serif;}
.table_type11 thead th {border-bottom:1px solid #e4e4e4; height: 44px; font-size: 15px; color:#585858; font-weight:400; }
.table_type11 tbody tr {border-bottom:1px solid #e4e4e4;}
.table_type11 tbody th { background:#fafafa; font-size: 15px; color:#585858; font-weight:400; border-right:1px solid #e4e4e4;}
.table_type11 tbody td {padding: 10px 21px; border-left:1px solid #e4e4e4; text-align: right; font-size: 15px; color:#585858; line-height: 25px;}
.table_type11 tbody .text_center {text-align:center;}
.table_type11 tbody td b {padding:0 5px 0 0; font-size:17px; font-weight:800; color:#333;}
.table_type11 tbody td span {padding: 0 65px 0 0;}


/* 리스트 1 */
.tab_type1 {width:961px; font-family: 'Noto Sans KR', sans-serif;}
.tab_type1 ul {height:35px; border:1px solid #e1e1e1; border-bottom:1px solid #333; border-left:none; background:#f0f0f0;}
.tab_type1 ul:after {content:""; display:block; clear:both;}
.tab_type1 li {float: left; width:10%; border-left:1px solid #e1e1e1; font-size:14px; text-align: center; box-sizing:border-box;}
.tab_type1 li a {display: block; height:35px; color:#888; text-decoration: none; line-height:35px;}
.tab_type1 .active {position:relative; top:-1px;  border:1px solid #333; background:#fff; border-bottom:1px solid #fff;}


/* 리스트 3 */
.list_type3 {font-family: 'Noto Sans KR', sans-serif;}
.list_type3 b {padding: 0 0 9px; font-size:18px; color:#000; line-height:25px;}
.list_type3 li {font-size:14px; color:#898989; line-height:24px;}


/* 리스트 4 */
.list_type4 {font-family: 'Noto Sans KR', sans-serif;}
.list_type4 p {font-size:48px; font-weight:100; line-height:82px;}
.list_type4 li {border: 1px solid #a4b9e3; height: 75px; border-radius: 1%; text-align:center;  }
.list_type4 li .block4_1 {display: block; width:50%;}


/* 리스트 7 */
.list_type7 {width:1000px; font-family: 'Noto Sans KR', sans-serif;}
.list_type7:after {content:""; display:block; clear:both;}
.list_type7 .float {float:left; padding: 40px 0 0 40px; width:33.33%; box-sizing:border-box;}
.list_type7 p {padding: 30px 0 18px; font-size:18px; color:#898989; letter-spacing: -0.5;}
.list_type7 div {margin:0  auto; width: 112px; height:112px; border-radius:100%; background:url(../img/ico_rebelogo.png) no-repeat center #fe370b;}
.list_type7 .color1 div {  background-color:#fe370b;}
.list_type7 .color2 div {  background-color:#ed1c24;}
.list_type7 .color3 div {  background-color:#243e8c;}
.list_type7 .color4 div {  background-color:#e30714;}
.list_type7 .color5 div {  background-color:#000;}
.list_type7 .color6 div {  background-color:#ed1c24;}
.list_type7 .color1 {border-bottom: 1px solid #e9e9e9;}
.list_type7 .color2 {border-bottom: 1px solid #e9e9e9;}
.list_type7 .color3 {border-bottom: 1px solid #e9e9e9;}
.list_type7 p span {color:#000;}
.list_type7 .list {padding:0 0 55px; line-height:22px; font-size:14px;}
.list_type7 .list li {color:#898989; letter-spacing:-0.5;}
.list_type7 .list .txt_blue {color:#009bfa;}
.list_type7 .list li strong {display:inline-block; width:60px; color:#000;}




/* 리스트 9 */
.list_type9 {width:1140px; border-top:2px solid #333; font-family: 'Noto Sans KR', sans-serif;}
.list_type9 li {position:relative; padding:41px 55px 30px 410px; border-bottom: 1px solid #e5e5e5; line-height: 1;}
.list_type9 li strong { font-size:26px; color:#333; font-weight: 700;}
.list_type9 li div {padding:20px 0 41px; font-size:15px; color:#333; }
.list_type9 li b {font-size:15px; color:#005891; font-weight:700;}
.list_type9 li p {padding:17px 0 0; font-size:15px; color:#666; line-height:24px; text-align:justify;}
.list_type9 li img {position: absolute; top:30px; left:0;}
.list_type9 li a {position:absolute; top:40px; right:40px;
width:176px; height:40px; border: 1px solid #005891; text-decoration: none; text-align: center; line-height:38px; box-sizing:border-box; font-size:15px; color:#005891; font-weight:700;} 


/* 폼 1 */
.form_type1 {padding:75px 0; font-family: 'Noto Sans KR', sans-serif; width: 650px; border: 30px solid #f4efeb; text-align:center; line-height: 1;}
.form_type1 h3 {font-size:33px;  color:#333; font-weight:400;}
.form_type1 p {padding:55px 0 40px; font-size:16px;  color:#777; font-weight:300;}
.form_type1 input {border:1px solid #e2e2e2; width:370px; height:54px; }
.form_type1 label {display:inline-block; width: 117px; text-align: left;}
.form_type1 ::placeholder {text-indent:20px; font-size:16px; color:#aaa; font-weight:300;}
.form_type1 div {padding: 0 0 22px;}
.form_type1 button {margin: 30px 0; background: #957963; border: none; width:489px; height:58px; border-radius: 58px; font-size:16px; color:#fff; font-weight:300;}
.form_type1 a {margin: 0 22px; font-size: 16px; color:#777; text-decoration: none; }
.form_type1 span {font-size: 16px; color:#dbdbdb;}

