html {font-size: 20px;}
body {font-size: 1rem;}

.list_type1 {padding: 1rem 1.333rem; background: #F7F7F9;}
.list_type1 h2 {padding: 0 0 .583rem; font-size:.883rem; line-height: 1.3rem;}
.list_type1 h2 ~ h2 {padding-top: .666rem;} 
.list_type1 .list a {display: block; background:url(../images/bu_arrow_right.png)no-repeat right .733rem center /.215rem auto #fff; line-height:2.266rem; text-indent:.716rem; font-size:.75rem; color:#000;}
.list_type1 .list li ~ li {padding: .333rem 0 0;}
.list_type1 .list li.col2 {width: calc(50% - .2rem);}
.list_type1 .list li.col2:nth-child(add) {float: left;}
.list_type1 .list li.col2:nth-child(even) {float:right;}

.list_type2 {padding: 1.066rem 0 0; background: #F0F0F0;}
.list_type2 .list {position: relative; background: #FFF; border-top: 1px solid #E1E1E2; border-left: #E1E1E2;}
.list_type2 .list:after {content: ""; position:absolute; left: 0; bottom: 0; right: 0; border-bottom:1px solid #E1E1E2;}
.list_type2 .list li {float: left; width:50%;} 
/* li에 display:block 넣으면 box-sizing을 넣어야 하므로 a요소에 넣는다. */
.list_type2 .list a {display: block; border-right: 1px solid #E1E1E2; border-bottom: 1px solid #E1E1E2; line-height: 2.041rem; font-size:.533rem; color:#000; text-indent: .691rem;}
.list_type2 .list a img {width: .483rem;}




/* .list_type2 .list li.col2 {}
.list_type2 .list li.col2 .new {background: url(../images/ico_new.png) no-repeat right .733rem center;}
.list_type2 .list li.col2:nth-child(add) {float: left;}
.list_type2 .list li.col2:nth-child(even) {float:right;}
.list_type2 .list li ~ li {border: .016rem solid #E1E1E2; box-sizing: border-box;} */


