/*
기능:pc상태에서 보여주는 스타일시트 화면(main,css)
작성날짜:2022.11.10
작성자: 신용구
*/
/* 상단메뉴 부분 좌측 상단에 고정 */
*{
  margin:0; padding:0;
  background-color: azure; 
}

/* 전체 컨테이너 영역(전체 넓이, 양쪽여백 설정) */
.wrap{
  width:1000px;/* width:70%-> 양쪽여백은 15%+15%=30% */
  margin:0 auto; /* 위 아래여백0 좌우여백은 자동으로 배분 되라는 옵션 */
}

/* pc상태에서는 넓이 768px보다 크면 보이지 않게 설정해주는 요소 */
.hd2,.sc2,.sc3 {display:none;}